@model SaveIt.Models.Pin

@{
}


<h2 class="text-center mt-5">Editare Pin </h2>
<br />

<div class="contaier mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Pins", method: FormMethod.Post))
            {
                @Html.Label("Title", "Titlu Pin") <br />
                @Html.Editor("Title", new { @class = "form-control" })
                @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
                <br /> <br />

                @Html.Label("Content", "Continut Pin") <br />
                @Html.Editor("Content", null, new { @class = "form-control"})
                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                <br /> <br />

                //<label>Selectati Tag-urile</label>
                //@Html.DropDownListFor(m => m.TagId, new SelectList(Model.Tags, "Value", "Text"), "Selectati Tag-ul", new { @class = "form-control" })
                //@Html.ValidationMessageFor(m => m.TagId, null, new {@class = "text-danger" })
                //<br /> <br />

                /*<label>Selectati Tag-urile</label>
                @Html.ListBoxFor(m => m.TagIds, new SelectList(Model.Tags, "Value", "Text"), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TagIds, null, new { @class = "text-danger" })
                <br /> <br />*/

                //<label>Selectati Tag-urile</label>
                //@Html.ListBoxFor(m => m.TagId, new SelectList(Model.Tags, "Value", "Text"), new { @class = "form-control" })
                //@Html.ValidationMessageFor(m => m.TagId, null, new { @class = "text-danger" })
                //<br /> <br />

                <label>Selectati Tag-urile</label>
                @Html.DropDownListFor(m => m.TagIds, new SelectList(Model.Tags, "Value", "Text", Model.TagIds), "Selectati Tag-ul", new { @class = "form-select", multiple="multiple", id="multiple-select-field", data_placeholder="Alege Tag-urile" })
                @Html.ValidationMessageFor(m => m.TagIds, null, new { @class = "text-danger" })
                <br /> <br />


                <button class="btn btn-success" type="submit">Editeaza Pin</button>

            }
        </div>
    </div>
</div>
