@model SaveIt.Models.Pin

@{
}


<h2 class="text-center mt-5">Editare Pin </h2>
<br />

<div class="contaier mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
           
           <form enctype="multipart/form-data" asp-controller="Pins" asp-action="Edit"> 
                @Html.Label("Title", "Titlu Pin") <br />
                @Html.Editor("Title", new { @class = "form-control" })
                @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
                <br /> <br />

                @Html.Label("Content", "Continut Pin") <br />
                @Html.Editor("Content", null, new { @class = "form-control"})
                @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                <br /> <br />

                @Html.Label("Image", "Imagine") <br />
                <input class="form-control" type="file" name="PinPhoto" />
                <br />
                @Html.Label("Link", "Link video") <br />
                @Html.Editor("mediaPath", null, new { @class = "form-control" })
                @Html.ValidationMessage("mediaPath", null, new { @class = "text-danger" })
                <br />

                @Html.Label("Media preview: ", "Fisier media curent")
                @if (Model.mediaType == "image")
                {
                    <img src="~/images/@Model.mediaPath" alt="bufnita" style="width: 70%">
                }
                else
                {
                    <iframe width="420" height="315" src="@Model.mediaPath"> </iframe>
                }

                <label>Selectati Tag-urile</label>
                @Html.DropDownListFor(m => m.TagIds, new SelectList(Model.Tags, "Value", "Text", Model.TagIds), "Selectati Tag-ul", new { @class = "form-select", multiple="multiple", id="multiple-select-field", data_placeholder="Alege Tag-urile" })
                @Html.ValidationMessageFor(m => m.TagIds, null, new { @class = "text-danger" })
                <br /> <br />


                <button class="btn btn-success" type="submit">Editeaza Pin</button>

            </form>
        </div>
    </div>
</div>
