@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2 class="text-center mt-5">Adaugare Pin</h2>

<br />

<div class="contaier mt-5">
    @using (Html.BeginForm(actionName: "New", controllerName: "Pins", method: FormMethod.Post))
    {
        @Html.Label("Title", "Titlu")
        @Html.TextBox("Title", null, new { @class = "form-control" })
        @Html.ValidationMessage("Title", null, new { @class = "text-danger" })
        <br /> <br />

        @Html.Label("Content", "Text Pin")
        @Html.TextArea("Content", null, new { @class = "form-control"})
        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
        <br /> <br />

        <button class="btn btn-success" type="submit">Creeaza Pin</button>        

    }
</div>
