@model SaveIt.Models.Pin

@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"] p-3 rounded-3 text-center mb-5">
        @TempData["message"]
    </div>
}

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center d-flex justify-content-center">
            @Html.Partial("PinInfo", Model)
        </div>
    </div>
</div>

@if (ViewBag.Liked == false)
{
    <form method="post" action="/Likes/AddLike/@Model.Id" class="text-center">
        <button type="submit" class="btn btn-outline-light">
            <i class="bi bi-hand-thumbs-up"></i> Like
        </button>
    </form>
}
else
{
    <form method="post" action="/Likes/DeleteLike/@Model.Id" class="text-center">
        <button type="submit" class="btn btn-outline-light">
            <i class="bi bi-hand-thumbs-down"></i> Unlike
        </button>
    </form>
}

<hr />

<form method="post" asp-controller="Pins" asp-action="AddBoard">
    <input type="hidden" name="PinId" value="@Model.Id" />
    <div class="d-flex flex-row justify-content-center p-3 border-1 border-top">
        <div>
            <select name="BoardId" class="form-control">
                <option selected>Adauga in board</option>
                @foreach (var board in ViewBag.UserBoards)
                {
                    <option value="@board.Id">@board.Name</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" class="btn btn-success alert-success" value="+" />
        </div>
    </div>



</form>

@if (Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
{
    <div class="d-flex justify-content-center">
        <a class="btn btn-success mr-2" href="/Pins/Edit/@Model.Id">Editeaza Pin</a>

        <form method="post" action="/Pins/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit">Sterge Pin</button>
        </form>
    </div>
}

<br />
<br />

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-body">
                        <p>@comm.Content</p>
                        <small>@comm.Date</small>
                        <strong><i class="bi bi-person"></i> @comm.User.UserName</strong>

                        @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                        {
                            <div class="d-flex justify-content-center mt-2">
                                <a class="btn btn-outline-primary mr-2" href="/Comments/Edit/@comm.Id">
                                    <i class="bi bi-pencil-square"></i> Editeaza
                                </a>
                                <form method="post" action="/Comments/Delete/@comm.Id">
                                    <button class="btn btn-outline-danger" type="submit">
                                        <i class="bi bi-trash"></i> Sterge
                                    </button>
                                </form>
                            </div>
                        }

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card text-white bg-dark mb-3">
                <form method="post" action="/Pins/Show/@Model.Id">
                    <div class="card-body">

                        <label class="text-light">Continut comentariu</label>
                        <textarea class="form-control dark-textarea" name="Content"></textarea>
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                        <button class="btn btn-success" type="submit">Adauga comentariul</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
