@model SaveIt.Models.Pin
@{
}
@*
<div class="d-flex justify-content-center">
    <a class="btn btn-outline-success" href="/Pins/Index/">Afisare Pin-uri</a>

    <a class="btn btn-outline-success" href="/Pins/New">Adauga Pin</a>
</div>
*@
@if (TempData["message"] != null)
{
    <div class="alert @TempData["messageType"] p-3 rounded-3 text-center mb-5">
        @TempData["message"]
    </div>
}

<br />

<div class="card">

    @Html.Partial("PinInfo", Model)
    @*<img src="~/images/@Model.mediaPath" />*@
    @if (ViewBag.Liked == false)
    {
        <form method="post" action = "/Likes/AddLike/@Model.Id">
            <button type="submit">
                <i class="bi bi-hand-thumbs-up"></i>
            </button>
        </form>
    }
    else
    {
        <form method="post" action="/Likes/DeleteLike/@Model.Id">
            <button type="submit">
                <i class="bi bi-hand-thumbs-down"></i>
            </button>
        </form>
    }

    <hr />

    @if (Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" href="/Pins/Edit/@Model.Id">Editeaza Pin</a>

            <form method="post" action="/Pins/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Sterge Pin</button>

            </form>

        </div>
    }

    <form method="post" asp-controller="Pins" asp-action="AddBoard">
        <input type="hidden" name="PinId" value="@Model.Id" />
        <div class="d-flex flex-row justify-content-center p-3 border-1 border-top">
            <div>
                <select name="BoardId" class="form-control">
                    <option selected>Adauga in board</option>
                    @foreach (var board in ViewBag.UserBoards)
                    {
                        <option value="@board.Id">@board.Name</option>
                    }
                </select>
            </div>
            <div>
                <input type="submit" class="btn btn-success alert-success" value="+" />
            </div>
        </div>



    </form>


</div>
<br /> <br />

@*afisare comentarii*@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong> <i class="bi bi-person"></i> @comm.User.UserName</strong>
                </div>
                <br>

                @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                {
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                        </div>

                        <div>
                            <form method="post" action="/Comments/Delete/@comm.Id">
                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                            </form>
                        </div>
                    </div>   
                }
                
                <br />
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
}


@*afisare form in care se poate adauga un comentariu*@

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <form method="post" action="/Pins/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="PinId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>
                        <br />

                        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                        <button class="btn btn-success " type="submit">Adauga comentariul</button>

                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>