@model SaveIt.Models.ApplicationUser
<div class="card mt-3 text-light" style="height:100%; width: 100%; background-color: #333;">
    <div class="card-body d-flex justify-content-between flex-column">
        <div>
            <p><i class="bi bi-person"></i> UserName: @Model.UserName</p>

            <p><i class="bi bi-envelope"></i> Email: @Model.Email</p>

            @if (ViewBag.Roles.Count > 0)
            {
                <p><i class="bi bi-person"></i> Roluri User:</p>
                @foreach (var role in ViewBag.Roles)
                {
                    <span class="rounded-pill bg-dark mr-2 px-4 py-2 text-white">@role</span>
                }
            }

        </div>

        <div class="d-flex flex-row justify-content-between p-3">

            @if ((string)Model.Id != ViewBag.UserCurent)
            {
                @using (Html.BeginForm(actionName: "Delete", controllerName: "Users", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
                {
                    <button class="btn btn-danger" type="submit">Sterge utilizator</button>
                }
            }
        </div>
    </div>
</div>

<div class="row mt-3">

    @foreach (var board in Model.Boards)
    {
        <div class="col-4 mb-4">
            <div class="card bg-dark text-white">
                <div class="card-body">

                    <h5 class="card-title" name="Name">@board.Name</h5>
                    <br />

                    <div style="display: flex; gap: 10px;">
                        <a class="btn btn-outline-success" href="/Boards/Show/@board.Id">Afisare</a>
                        <a class="btn btn-outline-success" href="/Boards/Edit/@board.Id">Editare</a>
                        <form method="post" action="/Boards/Delete/@board.Id">
                            <button class="btn btn-outline-danger" type="submit">Stergere</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@*
@foreach(var board in Model.Boards)
{
    @if (board.PinBoards.Count > 0)
    {
        @foreach (var pinBoard in board.PinBoards)
        {
            @if (pinBoard.Pin != null)
            {
                <div class="col-12">
                    <div class="card text-white bg-dark mb-3" style="width: 100%;">
                        <div class="card-body">
                            @Html.Partial("PinInfo", pinBoard.Pin)
                        </div>
                    </div>
                </div>
            }
        }
    }
}
*@

@foreach (Pin pin in ViewBag.SavedPins)
{
    <div class="col-12">
        <div class="card text-white bg-dark mb-3" style="width: 100%;">
            <div class="card-body">
                @Html.Partial("PinInfo", pin)
            </div>
        </div>
    </div>
}
